/simplebackups
/shaderpacks
/saves
/mods
/logs
/journeymap
/dynamic-resource-pack-cache
/.mixin.out
.sable/natives/sable_rapier_x86_64_windows.dll
command_history.txt
/crash-reports
/dynamic-data-pack-cache
debug/profiling/2026-05-12_01_36_41-New World-1_21_1.zip
defaultconfigs/biolith/general.json
downloads/log.json
ears-debug.log
/local
waypoints/WaypointData.dat
waypoints/backup/WaypointData.dat
usernamecache.json
usercache.json
